@model Web.ViewModels.Categories.CategoriesVM

<div id="jstree">
    <ul>
        <li data-jstree='{"opened": true, "type": "root"}'>Categories
            @foreach (var rootCategory in Model.Categories.Where(c => c.ParentId == null))
            {
                <ul>
                    <li id="@rootCategory.Id" data-jstree='{"opened": true, "type": "folder"}'>@rootCategory.Name
                        <ul>
                            @foreach (var childCategory in rootCategory.Children)
                            {
                                <li id="@childCategory.Id" data-jstree='{"type": "category"}'>@childCategory.Name</li>
                            }
                        </ul>
                    </li>
                </ul>
            }
        </li>
    </ul>
</div>

<script src="/Scripts/jsTree/jstree.min.js"></script>
<script>
  $(function () {
      $('#jstree').jstree({
          "core": {
              "check_callback": true
          },
          "types": {
              "#": {
                  "max_children": 1,
                  "Valid_children": ["root"]
              },
              "root": {
                  "valid_children": ["folder"],
                  "icon": "/Content/jsTree/themes/default/root.png"
              },
              "folder": {
                  "valid_children": ["folder", "category"],
                  "icon": "/Content/jsTree/themes/default/folder.png"
              },
              "category": {
                  "valid_children": [],
                  "icon": "/Content/jsTree/themes/default/category.png"
              }
          },
          "plugins": ["wholerow", "dnd", "types"]
      });
  });
</script>
