@model Web.ViewModels.Categories.TreeVM

@using Data.Models
@using Web.Helpers

<div id="jstree">
    <ul>
        <li id="root" data-jstree='{"opened": true, "type": "root", "id": "0"}'>Categories
            @foreach (var rootCategory in Model.Categories.Where(c => c.ParentId == null))
            {
                <ul>@(TreeHelper.RenderJsTree<Category>(rootCategory))</ul>
            }
        </li>
    </ul>
</div>
<script src="/Scripts/jsTree/jstree.js"></script>
<script src="/Scripts/Categories/categories.js"></script>