@model Web.ViewModels.Categories.CategoriesVM

@using Data.Models
@using Web.Helpers

<div id="jstree">
    <ul>
        <li data-jstree='{"opened": true, "type": "root"}'>Categories
            @foreach (var rootCategory in Model.Categories.Where(c => c.ParentId == null))
            {
                <ul>@(TreeHelper.RenderJsTree<Category>(rootCategory))</ul>
            }
        </li>
    </ul>
</div>

<input id="nameInput" type="text" placeholder="Enter new node name here" />       

<script src="/Scripts/jsTree/jstree.min.js"></script>
<script src="/Scripts/Categories/categories.js"></script>