@model Web.ViewModels.Categories.CategoriesVM
@{ 
    ViewBag.Title = "Categories";
}
<h1>Categories</h1>
<div id="functionalButtons">
    <p>
        <input type="button" value="Add Folder" />
        <input type="button" value="Add Category" />
        <input type="button" value="Save Changes" />
        <input type="button" value="Cancel" />
    </p>
</div>
<div id="categoriesTree">
    <p>
        @Html.Partial("_CategoriesTree", Model)
    </p>
</div>


