@model Web.ViewModels.Categories.CategoriesVM
@using Web.ViewModels.Categories;
@{ 
    ViewBag.Title = "Categories";
}

@section stylesheets 
{
    <link href="/Content/jsTree/themes/default/style.min.css" rel="stylesheet" />
}

<h1>Categories</h1>
<div id="functionalButtons">
    <p>
        <input id="add" type="button" value="Add new item" />
        <input id="save" type="button" value="Save Changes" />
        <input id="cancel" type="button" value="Cancel" />
    </p>
</div>
<div id="categoriesTree">
    <p>
        @Html.Partial("_CategoriesTree", new TreeVM { Categories = Model.Categories })

        <script src="/Scripts/Categories/categories.js"></script>
    </p>
</div>


