@model Web.ViewModels.Categories.CategoriesVM
@{ 
    ViewBag.Title = "Categories";
}

@section stylesheets 
{
    <link href="/Content/jsTree/themes/default/style.min.css" rel="stylesheet" />
}

<h1>Categories</h1>
<div id="functionalButtons">
    <p>
        <input type="button" value="Add Folder" />
        <input type="button" value="Add Category" />
        <input type="button" value="Save Changes" />
        <input type="button" value="Cancel" />
    </p>
</div>
<div id="categoriesTree">
    <p>
        @Html.Partial("_CategoriesTree", Model)
    </p>
</div>


